* {margin: 0;padding: 0;box-sizing: border-box;}

body{background-size: 90%;}

.navigation {grid-area: navigation;}
.header {grid-area: header;}
.content {grid-area: content;}
.footer {grid-area: footer;}

.container {
  width: 100%;/*100% of 90% body background-size*/
  text-align: center;
    
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, minmax(60px, auto));
    
  grid-template-areas: 
    "navigation"
    "header"
    "content"
    "footer";
}

/*navigation start*/
nav{
    width: 100%; 
    
    background-color: #273A5E;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.navhome{margin: 5px;}
.navproduct{margin: 5px;}
.navcontact{margin: 5px;}
.navcart{margin-left: auto;}
.navcart img{
    height: 40px;
    margin-right: 15px;
}

/*header start*/
/*header{
    width: 100%;
    height: 120px;
    
    position: fixed;
    overflow: auto;
    
    background-image: url("../img/ho.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    
    display: flex;
    align-items: center;
}
.headerlogo{
     margin-left: auto;
    margin-right: 20px;
}
.headerlogo img{
    width: 70px;
    height: 70px; 
}
/*header end*/

/*content start for registration*/
section{
    background-color: #e6e2db;  
}


input {
    font-size: 14px;
    color: #151314;
    border-radius: 5px;
    border-width: 1px;
    margin: 2px;
}

.position {
    width: 55%;
    float: left;
    text-align: right;
    margin-right: 5px;
}

select{
    width: 50%;
    height: 7vh;
    font-size: 14px;
    color: #151314;
    background-color: #ffffff;
}

input[type="text"] {
    width: 50%;
    height: 7vh;
    text-align: left;
    color: #151314;
}

input[type="email"] {
    width: 50%;
    height: 7vh;
    text-align: left;
    color: #151314;
}

input[type="tel"] {
    width: 50%;
    height: 7vh;
    text-align: left;
    color: #151314;
}

input[type="password"] {
    width: 50%;
    height: 7vh;
    text-align: left;
    color: #151314;
}

input[type="submit"] {
    margin-left: auto;
    width: 20%;
    height: 7vh;
    text-align: center;
    color: #ffffff;
    background-color: #273a5e;
}


/*footer start*/
footer{
    width: 100%; 
    text-align: center;
    color: #ffffff;
    background-color: #273a5e;
}

.footer img{width: 20px;height: 20px;}








/*media query for ipad*/
@media (min-width: 768px) and (max-width: 1200px){
    
nav{height: 100%;}
.navcart img{margin-right: 90px;}
    
/*header{height: 290px;position: relative;}*/
.headerlogo{margin-right:1px;}
.headerlogo img{
    width: 80px;
    height: 80px; 
}

.container{
    text-align: left;
}
.position {
    width: 35%;
}
h2{
    text-align: center;
}
input[type="submit"] {
    
    margin-left: 45%;
}   
        
footer{
    display:grid;
    grid-gap: 2px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    }   

}









/*media query for desktop*/
@media only screen and (min-width: 1200px) {

nav{height: 100%;}
.navhome{margin: 15px;}
.navproduct{margin: 15px;}
.navcontact{margin: 15px;}
.navcart img{margin-right: 100px;}
    

.headerlogo{margin-right: 90px;}
.headerlogo img{
    width: 90px;
    height: 90px; 
}
    
.container{
    text-align: left;
}
.position {
    width: 35%;
}
h2{
    text-align: center;
}
input[type="text"] {width: 25%;}
input[type="email"] {width: 25%;}
input[type="tel"] {width: 25%;}
input[type="password"] {width: 25%;}
select{width: 25%;}
input[type="submit"] {width: 10%;}
    
 input[type="submit"] {
   
    margin-left: 45%;
}  
    
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;}
    
.footer1{margin-left: 15px;}
.footer2{}
.footer3{}
.footer4{margin-right: 15px;}
}
