* {margin: 0;padding: 0;box-sizing: border-box;}

body{    
    background-size: 90%;margin: 5px;}

/*header start*/
header{
    width: 100%; 
    border: 1px solid #000000;
    text-align: center;
    display:flex;
    }

.logo{
    width:100%;
    background-color: #faebd7;
}

.headermenu{
    width: 100%; 
    background-color: #7fffd4;
}

/*navigation start*/
nav{
    width: 100%; 
    border: 1px solid #000000;
    display: flex;
}

.navhome{}
.navproduct{}
.navcontact{}
.navcart{
    margin-left: auto;
}

/*content start*/
main{
    width: 100%;
    border: 1px solid #000000;
    text-align: center;
}
.contentrightside{
    width: 100%;
    background-color: #f5f5dc;
    
}
.contentrightside1{}
.contentrightside2{}
.contentrightside3{}

.contentleftside{
    width: 100%;
    background-color: #ffe4c4;
}
.contentleftside1{}
.contentleftside2{}
.contentleftside3{}


/*footer start*/
footer{
    width: 100%; 
    border: 1px solid #000000;
    text-align: center;
}

.bbfooter1{}
.bbfooter2{}
.bbfooter3{}
.bbfooter4{}




/*media query for ipad*/
@media (min-width: 768px) and (max-width: 960px){
    .bbheader{}
    .navigation{}
    .content{}

footer{
    display:grid;
    grid-gap: 2px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    }    
    
}

/*media query for desktop*/
@media only screen and (min-width: 960px) {
    .bbheader{}
    .navigation{}
    .content{
        
    }
main{
    display: flex;
}
.contentrightside{
    width: 30%;}
    
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
}
