* {margin: 0;padding: 0;box-sizing: border-box;}

body{background-size: 90%;}

.navigation {
  grid-area: navigation;
}
.logo {
  grid-area: logo;
}
.content {
  grid-area: content;
}
.footer {
  grid-area: footer;
}
.container {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
 grid-template-rows: repeat(4, minmax(100px, auto));
    
  grid-template-areas: 
    "navigation"
    "logo"
    "content"
    "footer";
}

/*header start*/
header{
    position: relative;
    overflow: auto;
    background-image: url("../img/home.jpg");
    background-attachment:;
    background-repeat: no-repeat;
    background-size:100%;
    }

.logo img{
    margin-left: 250px;
    height: 70px;
}


/*navigation start*/
nav{
    width: 100%; 
    height: 40px;
    border: 1px solid #000000;
    background-color: #273A5E;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.navhome{margin: 5px;}
.navproduct{margin: 5px;}
.navcontact{margin: 5px;}
.navcart{
    margin-left: auto;
    margin-right: 5px;
}
.navcart img{
    height: 40px;
}

/*content start*/
/*main{
    width: 100%;
    border: 1px solid #000000;
    text-align: center;
}*/
.contentrightside{
    width: 100%;
    background-color: #f5f5dc;
    
}
.contentrightside1{}
.contentrightside2{}
.contentrightside3{}

.contentleftside{
    width: 100%;
    background-color: #ffe4c4;
}
.contentleftside1{}
.contentleftside2{}
.contentleftside3{}


/*footer start*/
footer{
    width: 100%; 
    border: 1px solid #000000;
    text-align: center;
    background-color: #273A5E;
    color: #ffffff;
}

.footer img{width: 20px;height: 20px;}

.footer1{}
.footer2{}
.footer3{}
.footer4{}




/*media query for ipad*/
@media (min-width: 768px) and (max-width: 1200px){
    
nav{height: 100%;}
    
header{height: 290px;}

.logo img{
    margin-left: 750px;
    margin-top:100px;}
    
.navcart img{margin-right: 90px;}
    
footer{
    display:grid;
    grid-gap: 2px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    }    
    
}

/*media query for desktop*/
@media only screen and (min-width: 1200px) {

nav{height: 100%;}
.navhome{margin: 15px;}
.navproduct{margin: 15px;}
.navcontact{margin: 15px;}  
header{height: 300px;}

.logo img{
    margin-left: 750px;
    margin-top:100px;}

.navcart img{margin-right: 100px;}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;}
    
.footer1{margin-left: 15px;}
.footer2{}
.footer3{}
.footer4{margin-right: 15px;}
}
