* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: 90%;
}

.navigation {
    grid-area: navigation;
}

.header {
    grid-area: header;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}

.container {
    width: 100%;
    /*100% of 90% body background-size*/
    text-align: center;

    display: grid;
    grid-gap: 1% 1%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(60px, auto));

    grid-template-areas:
        "navigation"
        "header"
        "content"
        "footer";
}

/* Hide the checkbox */
input[type=checkbox] {
    position: fixed;
    visibility: hidden;
}

/* start toggle */
.nav-alter {
    display: block;
    position: fixed;
    top: 10px;
    left: 0px;
    height: 32px;
    width: 40px;
    cursor: pointer;
    z-index: 99;
    margin-left: 10px;
    transition: margin .3s;
}

.nav-alter span {
    position: relative;
    display: block;
    height: 4px;
    width: 45px;
    background: #000;
    transition: all .3s;
    background-color: #ffffff;}
.nav-alter span:nth-child(2) {
    top: 12px;
}

.nav-alter span:nth-child(3) {
    top: 24px;
}

/*moving toggle */
input[type=checkbox]:checked ~ .nav-alter {
    margin-right: 290px;
}

input[type=checkbox]:checked ~ .nav-alter span:nth-child(1) {
    top: 15px;
    transform: scale(0.5) rotate(-45deg);
}

input[type=checkbox]:checked ~ .nav-alter span:nth-child(2) {
    display: none;
}

input[type=checkbox]:checked ~ .nav-alter span:nth-child(3) {
    top: 13px;
    transform: scale(0.5) rotate(45deg);
}

/*menu moving*/
input[type=checkbox]:checked ~ .menucontainer .menu {
    margin-left: 0;
    background-color: rgb(0, 0, 0, 0.4);
}

/* The menu */
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 52px;
    margin-left: -570px;
    transition: margin .1s;
}

ul {
    list-style: none;
    margin-top: 15px;
}

.menu ul ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s;
}

.menu ul li:hover > ul {
    max-height: 600px;
    height: auto;
}

li a {
    text-decoration: none;
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-family: sans-serif;
}

/*start adding pseudo element*/
li a::after {
    content: '+';
    transition: .2s;
    display: inline-block;
    margin-left: 5px
}

li a:hover::after {
    content: '+';
    transform: rotate(45deg);
}

li a:only-child::after {
    content: '';
}


/*navigation start*/
nav {
    width: 100%;
    
    background-color: #273A5E;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.navcart {
    margin-left: auto;
}

.navcart img {
    height: 40px;
    margin-right: 15px;
}

/*header start*/
.header {
    width: 100%;
    height: 220px;

    background: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
}

.headerlogo {
    margin-left: auto;
    margin-right: 20px;
}

.headerlogo img {
    width: 70px;
    height: 70px;
}

/*content of cash page*/

.content {
    width: 100%;

    display: grid;
    grid-gap: 1% 1%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;

}

.contentcheckoutform {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.contchkformbillingaddress {
    width: 100%;
    background-color: #c1bfbd;
}

input {
    font-size: 14px;
    color: #151314;
    border-radius: 5px;
    border-width: 1px;
    margin: 2px;
}

.position {
    width: 60%;
    float: left;
    text-align: right;
    margin-right: 5px;
    font-family: sans-serif;
}

input[type="text"] {
    width: 50%;
    height: 5vh;
    text-align: left;
    color: #151314;
}

input[type="number"] {
    width: 50%;
    height: 5vh;
    text-align: left;
    color: #151314;
}

input[type="tel"] {
    width: 50%;
    height: 5vh;
    text-align: left;
    color: #151314;
}

input[type="email"] {
    width: 50%;
    height: 5vh;
    text-align: left;
    color: #151314;
    margin-bottom: 5px;
}


h2{
    font-family: sans-serif;
}

.contchkformcard {
    width: 100%;
    background-color: #c1bfbd;
}

.contchkformcard img {
    width: 30px;
    height: 30px;
}

.contentcheckoutcart {
    width: 100%;
    background-color: #c1bfbd;
}

.contentcheckoutcart a{
    color: #151314;
}

.contentcheckoutcart img {
    width: 30px;
    height: 30px;
}
h4{
    font-family: sans-serif;
    font-size: 25px;
}

input[type="submit"] {
    width: 80%;
    height: 7vh;
    text-align: center;
    color: #ffffff;
    background-color: #273A5E
}

.submit:hover{
    opacity: 0.7;
}
span.price{
    width: 25%;
    float:right;
    font-family: sans-serif;

}

/*footer start*/
footer{padding:15px;margin-top: 15px;margin-bottom: 10px;
    width: 100%; 
    text-align: center;
    color: #ffffff;
    background-color: #273A5E;
    opacity: 0.9;
}

footer a{
    color: #ffffff;
}
.footer img{
    width: 30px;
    height: 30px;
    margin: 2px;
    border-radius:6px; 
}




/*media query for ipad*/
@media (min-width: 768px) and (max-width: 960px) {

    .nav-alter {
        display: none;
    }

    .menu {
        margin-top: 0;
        margin-left: 0;
    }

    .menu ul {
        padding: 0;
        margin: 0;
        position: relative;
        list-style: none;
    }

    .menu ul li {
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.4);
        width: auto;
        position: relative;
        margin-left: -4px;
    }

    .menu a {
        display: block;
        padding: 0 10px;
        color: #FFF;
        font-size: 16px;
        line-height: 60px;
        text-decoration: none;
    }

    .menu a:hover {
        background-color: #000000;
    }

    /* keeps the dropdown invisible and assign style to list*/
    .menu ul ul {
        display: none;
        position: absolute;
        overflow: visible;
        top: 60px;
        margin-left: -32px;
        width: 147px;
    }

    /* show dropdown 1st 2nd level on hover */
    .menu ul li:hover > ul {
        display: inherit;
    }

    /* 1st level */
    .menu ul ul li {
        display: list-item;
        float: none;
        position: relative;
    }

    .header {
        height: 300px;
    }

    .headerlogo img {
        width: 90px;
        height: 90px;
    }

    /*content of cash page*/
    .contentcheckoutform {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .contchkformbillingaddress {
        width: 100%;
        background-color: #c1bfbd;
    }

    .contchkformcard {
        width: 100%;
        background-color: #c1bfbd;
    }

    .contentcheckoutcart {
        background-color: #c1bfbd;

    }
 .position {
        width: 160px;
        text-align: right;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

}





@media (min-width: 960px) and (max-width: 1024px) {

    .nav-alter {
        display: none;
    }

    .menu {
        margin-top: 0;
        margin-left: 0;
    }

    .menu ul {
        padding: 0;
        margin: 0;
        position: relative;
        list-style: none;
    }

    .menu ul li {
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.4);
        width: auto;
        position: relative;
        margin-left: -4px;
    }

    .menu a {
        display: block;
        padding: 0 10px;
        color: #FFF;
        font-size: 16px;
        line-height: 60px;
        text-decoration: none;
    }

    .menu a:hover {
        background-color: #000000;
    }

    /* keeps the dropdown invisible and assign style to list*/
    .menu ul ul {
        display: none;
        position: absolute;
        overflow: visible;
        top: 60px;
        margin-left: -32px;
        width: 147px;
    }

    /* show dropdown 1st 2nd level on hover */
    .menu ul li:hover > ul {
        display: inherit;
    }

    /* 1st level */
    .menu ul ul li {
        display: list-item;
        float: none;
        position: relative;
    }

    /*content of cash page*/
    .contentcheckoutform {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .contchkformbillingaddress {
        width: 100%;
        background-color: #c1bfbd;
    }

    .contchkformcard {
        width: 100%;
        background-color: #c1bfbd;
    }

    .contentcheckoutcart {
        background-color: #c1bfbd;
    }
    
 .position {
        width: 160px;
        text-align: right;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

}




/*desktoppppppppppppppp*/

/*media query for desktop*/
@media only screen and (min-width: 1024px) {

    .nav-alter {
        display: none;
    }

    .menu {
        margin-top: 0;
        margin-left: 0;
    }

    .menu ul {
        padding: 0;
        margin: 0;
        position: relative;
        list-style: none;
    }

    .menu ul li {
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.4);
        width: auto;
        position: relative;
        margin-left: -4px;
    }

    .menu a {
        display: block;
        padding: 0 10px;
        color: #FFF;
        font-size: 16px;
        line-height: 60px;
        text-decoration: none;
    }

    .menu a:hover {
        background-color: #000000;
    }

    /* keeps the dropdown invisible and assign style to list*/
    .menu ul ul {
        display: none;
        position: absolute;
        overflow: visible;
        top: 60px;
        margin-left: -30px;
        width: 145px;

    }

    /* show dropdown 1st 2nd level on hover */
    .menu ul li:hover > ul {
        display: inherit;
    }

    /* 1st level */
    .menu ul ul li {
        display: list-item;
        float: none;
        position: relative;
    }

    .header {
        height: 350px;
    }

    .headerlogo {
        margin-right: 90px;
    }

    .headerlogo img {
        width: 200px;
        height: 200px;
    }
    
    /*content of cash page*/
    .content {
        width: 100%;

        display: grid;
        grid-gap: 1% 1%;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto;

    }

    .contentcheckoutform {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .contchkformbillingaddress {
        width: 100%;
        background-color: #c1bfbd;
    }

    .contchkformcard {
        width: 100%;
        background-color: #c1bfbd;
    }

    .contentcheckoutcart {
        background-color: #c1bfbd;

    }

    .position {
        width: 160px;
        text-align: right;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }

    .footer1 {
        margin-left: 15px;
    }

    .footer4 {
        margin-right: 15px;
    }
}
